<ActionBar class="action-bar">
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
<!--     <ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem> -->
    <Image class="logo_head" width="20%" src="~/images/logo_head-min.png"></Image>
    <ActionItem icon="res://ico_home" (tap)="onNavItemTap('/home')" ios.position="right"></ActionItem>
</ActionBar>

<GridLayout width="100%" rows="auto,*" class="bg_color page page-content">
    <GridLayout row="0" class="nosotros_head"> 
        <Label text="Para mayor información ingresa alsum.co" color="#ffffff" verticalAlignment="center" class="text-center"></Label>
    </GridLayout>

    <Accordion class="m-t-15" row="1" [items]="nosotros" itemTapped="tapped" width="85%" headerTextBold="true" headerTextColor="white" headerColor="pink" headerTextColor="blue"allowMultiple="true"  selectedIndex="0">

        <ng-template accordionHeaderTemplate let-item="item" let-i="index">
            <GridLayout class="boring" backgroundColor="white" columns="auto,*">
                <Label text="dfsddfd"></Label>
            </GridLayout>
        </ng-template>

        <ng-template accordionItemTemplate let-item="item" let-parent="parentIndex" let-even="even" let-child="childIndex">
            <StackLayout>
                <Label text="item"></Label>
            </StackLayout>
        </ng-template>
    </Accordion>
</GridLayout> 