<ActionBar class="action-bar">
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!-- <ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem> -->
    <Image class="logo_head" width="20%" src="~/images/logo_head-min.png"></Image>
    <ActionItem icon="res://ico_home" (tap)="onNavItemTap('/home')" ios.position="right"></ActionItem>
</ActionBar>

<GridLayout width="100%" rows="auto,*" class="page page-content">
    <GridLayout row="0" width="100%" class="presentaciones_head"> 
        <Label text="Presentaciones congreso" color="#ffffff" verticalAlignment="center" class="text-center"></Label>
    </GridLayout>
    <TabView row="1" androidSelectedTabHighlightColor="#ff480e">
        <ng-template ngFor let-tab="$implicit" [ngForOf]="tabs">
            <StackLayout *tabItem='{title: (tab.dia| date: "EEEE, d MMMM" | titlecase)}' class="details" (loaded)="cargada(tab.id)">
                <ListView width="85%" row="1" [items]="charlas" class="m-t-15">
                    <ng-template class="m-t-15" backgroundColor="white" let-charla="item" let-i="index" let-odd="odd" let-even="even">
                        <StackLayout backgroundColor="white" class="boring_hb m-t-10" [nsRouterLink]="['/detalleCongreso/'+charla.id]">
                            <Label [text]="charla.nombre" textWrap="true"></Label>
                            <Label [text]="charla.hora" textWrap="true"></Label>
                        </StackLayout>
                    </ng-template>
                </ListView> 
            </StackLayout>         
        </ng-template>
    </TabView>
</GridLayout> 